body {
    margin: 0;
    width: 1363px;
    height: 1929.41px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.nav-bar {
    width: 1263px;
    height: 80px;
    padding: 0 65px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    z-index: 2;
}

.logo-img1 {
    width: 190.5px;
    height: 45px;
    padding-right: 15px;
    margin: 17.5px 0;
    background-color: rgba(137, 43, 226, 0);
}

.nav-bar-elements {
    width: 504.66px;
    height: 80px;
    padding: 0 143.67px;
    margin-left: 14px;
    background-color: black;
    
}

.social-media {
    width: 164px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 31.5px;
    margin-left: 57px;
}
.j{
    
}
.a1{
    color: white;
}
.ul-1 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 30px 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #9c4041;
}

.welcome-img {
    width: 100%;
    height: 611px;
    background-image: url(./camery-welcome.png);
    background-size: cover;
    background-position: center;
}

.page2 {
    width: 100%;
    height: 612.406px;
    margin: 80px 0;
    background-color: #9c4041;
}

.img-text {
    width: 1170px;
    height: 612.406px;
    margin: 0 96.5px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: space-between;
}

.img {
    width: 570px;
    height: 612.406px;
    padding: 0 15px;
    background-color: rgba(128, 255, 0, 0);
}

.text {
    width: 444.625px;
    height: 355px;
    padding: 0 70.188px;
    background-color: rgba(210, 105, 30, 0);
    margin: auto;
}

.aboutus-container {
    width: 444.625px;
    height: 355px;
    background: #9c4041;
    margin: auto;
}

.aboutus {
    width: 100%;
    height: 24px;
    background-color: rgba(255, 0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.the-perfect {
    width: 100%;
    height: 162px;
    margin-bottom: 25px;
    background-color: rgba(222, 184, 135, 0);
    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 55px;
}

.indulge {
    width: 100%;
    height: 72px;
    margin-bottom: 162px;
    background-color: rgba(95, 158, 160, 0);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 24px;
    margin: auto;
}


.explore-button-div {
    width: 100%;
    height: 72px;
    background-color: #bc9e3300;
    position: relative;
    
}
.explore-button{
    width: 134.922px;
    height: 43px;
    border: 2px solid #bc9e33;
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 0;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #bc9e33;
    text-decoration: none;
    position: absolute;
    top: 13.5px;
    left: 36.221px;
}
.explore-button:hover{
    color: black;
    background-color:#bc9e33;
}
.explore-text:hover{
    color: black;
    background-color:#bc9e33;
}
.explore-text{
    
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #bc9e33;
    text-decoration: none;
    position: absolute;
    top: 13.5px;
    left: 36.221px;
    
}
.explore-text:hover{
   
}
.page3 {
    width: 100%;
    height: 446px;
    padding: 50px 0;
    background-color: #1c1c1c;
}

.last-container {
    width: 1170px;
    height: 446px;
    margin: auto;
    background-color: #1c1c1c;
}

.top-div {
    width: 1170px;
    height: 75px;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
}

.left {
    width: 847.5px;
    height: 75px;
    padding: 0 15px;
    background-color: rgba(255, 0, 0, 0);
}

.get-in {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background-color: #1c1c1c;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    color: #7c682a;
}

.if-you {
    width: 100%;
    height: 19px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    color: #d1bd74;
}

.right {
    width: 292.5px;
    height: 75px;
    background-color: #9c404200;
}

.contact-us-button {
    width: 91.922px;
    height: 25px;
    margin: 20px 15px 0 15px;
    padding: 9px 34px;
    border: 2px solid #bc9e33;
    color: #bc9e33;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 25px;
}
.contact-us-button:hover{
    color: black;
    background-color: #bc9e33;
}

.bottom-div {
    width: 1140px;
    height: 210px;
    padding: 80px 15px 0 15px;
    margin-top: 80px;
    border-top: 1px solid;
    background-color: #1c1c1c;
    border-color: #363636;
    display: flex;
    justify-content: space-between;
    position: relative;


}

.logo-img2-div {
    width: 360px;
    height: 35px;
    background-color: #1c1c1c;
    margin: 87.5px 0;
    position: relative;
}

.logo-img2 {
    width: 200px;
    height: 35px;
    position: absolute;
    left: 0;
}

.nutricreams {
    width: 457.5px;
    height: 210px;
    background-color: #1c1c1c;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    color: #d1bd74;
}

.aboutus-list {
    width: 262.5px;
    height: 175px;
    background-color: #1c1c1c;
    margin: 17.5px 0;

}

.list2 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    list-style-type: none;
    margin-top: 0;
    margin-left: 0px;
    padding-left: 0;
}


